/**********************************************
***Author: Carlos Fortes
**Version: 1.0 -
**Project: website without lib or frameworks
****Email: cdfortes@gmail
***Github: https: //github.com/cdfortes/
***********************************************/


/*import dos css*/
@import url('grid.css');
@import url('reset.css');
@import url('buttons.css');
@import url('forms.css');
@import url('custom-margin-padding.css');




/*HEADER - Cabeçalho do website - */
#header nav ul {
   
    z-index: 2030;;
}

#top-header{
    background-color: rgba(11, 19, 2, 0.336);
   top:0;
    position: fixed;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 20px;
}

    
img {
    max-width: 100%;
    height: auto;
}

#header nav a {
    display: inline-block;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
}

#header nav a:hover,
#header nav a.active {
    
    background-color: rgba(146, 208, 80, 0.473);
}

#header input{
    background-image: none!important;
    background-color: #f1f4f7!important;
    border: 0;

    height: 56px;
    width: 533px;
    padding-left: 17px;
    color: #0c3c61;
   
    font-weight: 600;
    font-size: 1.25em;
   
}

#header {
    background: #000 no-repeat;
    background-image: url("images/web/bg1.jpg");
    background-size: cover;
    color: #0a020254;
    width: 100%;
    height: 660px;
    position: relative;
    padding-top: 30px;
    z-index: 1030;
}

#header a {
    color: #160202;
}
#header nav {
    text-align: right;
   
    right: 200px;
    overflow: hidden;
    z-index: 2030;
}

#header nav ul, #header nav ul li{
    display: inline-block;
    margin: 0;
    padding: 0;
}

#header .search {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);

    text-align: center;
}

#header h1 {
    font-size: 54px;
    line-height: 60px;
    
}

#whoareus{
   
    background-color: #92D050;
    z-index: -1;
}

#whoareus h2{

    text-align: center;
    background-color: #92D050;
    
}

#galery {
    background-color: rgba(146, 208, 80, 0.11);
    z-index: -1;
}



#img1 {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}


.text-body{
    text-align: justify;
    color: white;
    
}
#ourservices h2 {
    text-align: center;
   
}
#ourservices .row {
    text-align: center;
   
}
#ourservices p#txt_body {
    text-align: justify;
}



#contact-us {
    
     background-color: rgba(236, 236, 238, 0.479);
}


#footer{
    background-color: rgb(51, 51, 51);
    text-align: left;
}
#footer, #footer a{
    color: rgb(204, 204, 204);
}
.social{
    height: 200px;
    line-height: 200px;
    text-align: center;
}

#footer ul,
#footer ul li {
   display: block;
   
}
#footer .col-4 h3{
    padding-top:10px;
    text-align: left;
}
#copyright {
    text-align: center;
    background-color: rgb(34, 34, 34);
    padding: 10px;
}







